* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

#menu li {
    list-style: none;
    float: left;
    width: 33.33%;
    margin: 5.9% 0;
}

#menu a {
    text-decoration: none;
    color: white;
}

#login-form {
    width: 100%;
    height: 100%;
    background-image: url("../Image/city.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: cover;
    background-size: 100%;
}

#login-container {
    margin: auto;
    width: 50%;
    text-align: center;
    height: 75%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    color: #6C374B;
}

input {
    width: 30%;
    height: 7%;
    background: transparent;
    border: solid 1px #6C374B;
    color: #6C374B;
    padding: 1%;
    margin: 0.5%;
}

button {
    width: 20%;
    height: 4%;
    margin: 1%;
    background-color: transparent;
    border: solid 1px #A34625;
    color: #A34625;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

/*select text*/
input::selection { 
    background-color: #6C374B; 
}

/*remove forced yellow background*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.774) inset;
    -webkit-text-fill-color: #6C374B !important;
}

/*change color for ploaceholder*/
::placeholder { 
    color: #6C374B;
}